@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');


.App {
  overflow-x: hidden;  
  background-image: linear-gradient(to right, indigo, blue);
}

#container {
  display: flex;  
  margin: 60px 20px;
  
}

#avatar {
  animation: components-enter-page 1s ease-in forwards;
  border-radius: 100%;
  border: 10px orange solid;
  width: 20vw;
  height: 20vw;
  position: relative;
  margin-top: 10vw;
}

#balloon {
  animation: baloon-enter-page 1s ease-in forwards;
  width: 60vw;
  height: 20vw;
  margin: 0vw -13vw;
  float: right;
  position: relative;
  z-index: 100;
}
#balloon-text {
  animation: baloon-enter-page 1s ease-in forwards;
  width: 40vw;
  height: 30vw;
  margin-left: -37vw;
  margin-top: 3vw;
  font-size: 2.2vw;
  font-family: 'CrimeFighter BB', cursive;
  z-index: 200;
  text-align: center;
  line-height: 1.4;
}

@keyframes components-enter-page {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes baloon-enter-page {
  0% {
    transform: translateX(200%) translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}
