@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

* {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f9f9f2;
  overflow: scroll;
}
.App {
  overflow-x: hidden;  
}
#container-frames {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: flex-start;
}
#container-title {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}
#character-name {
  font-family: 'Komika Title', cursive;
  font-size: 2.5vw;
  margin-top: 6vw;
  margin-bottom: -10vw;
  margin-left: 2vw;
  text-align: center;
  text-shadow: 4px 4px 2px rgb(122, 107, 201);
  color: rgb(232, 62, 32);
  letter-spacing: 0;
  line-height: 3.5vw;
  width: 20%;
  -ms-transform: rotate(-4deg); /* IE 9 */
  transform: rotate(-4deg);
  /* background-color: #e9ce03; */
  background: url(./pow.png);
  background-size: 100% 100%;
  background-position: center; 
  height: 12vw;
  padding-top: 3vw;
}
#in-div {
  position: relative;
  font-family: 'Komika Title', cursive; 
  font-size: 1.5vw;
  vertical-align: middle;
  margin-top: 8vw;
  margin-bottom: -6vw;
}

#title {
  font-family: 'Komika Title', cursive; 
  font-size: 6.8vw;
  margin-top: 6vw;
  margin-bottom: -8vw;
  text-align: center;
  color: darkslateblue;
  letter-spacing: -3px;
  width: 60%;
}

#subtitle {
  font-family: 'Komika Title', cursive; 
  font-size: 2vw;
  font-weight: 100;
  margin-top: 7vw;
  margin-bottom: -8vw;
  margin-right: 2vw;
  text-align: center;
  color: rgb(35, 33, 50);
  width: 20%;
  
}

#frame {
  position: relative;
  background-image: linear-gradient(to top, rgb(3, 120, 245), rgb(160, 199, 237));
  width: 30vw;
  height: 30vw;
  margin: 8vw 1vw 1vw 2vw;
  border: 0.5vw rgba(41, 40, 40, 0.94) solid;
  /*border-radius: 0.5%;*/
  border-radius: 255px 1px 225px 4px/13px 225px 9px 255px;
  display: inline-flex;
}

#frame2 {
  position: relative;
  background-image: linear-gradient(to top, rgba(249, 238, 115, 0.842), rgb(255, 119, 0));
  width: 60vw;
  height: 30vw;
  margin: 8vw 1vw 1vw 2vw;
  border: 0.5vw rgba(41, 40, 40, 0.94) solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  display: inline-flex;
  align-items: flex-end;
  padding: 0;
}

.frame3 {
  position: relative;
  height: 30vw;
  width: 60vw;
  background: #f9e406;
  filter: contrast(7);
  --mask: linear-gradient(red, rgba(0, 0, 0, 0.45));
  border: 0.5vw rgba(41, 40, 40, 0.94) solid;
  border-radius: 255px 4px 255px 15px/8px 225px 6px 255px;
  padding: 0;
  overflow: hidden;
  margin: 2vw;
}

.frame3::before {
  position: absolute;
  top: -11vw;
  right: -5vw;
  bottom: -16vw;
  left: -8vw;
  margin: 1vw 1vw 1vw 2vw;
  background: radial-gradient(rgb(69, 59, 8), transparent) 0 0/1em 1em space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  content: "";
  transform: rotate(18deg);
}
#box1 {
  background-color: rgb(55, 54, 54);
  width: 5vw;
  height: 10vw;
  margin: -1px;
}
#box2 {
  background-color: rgb(55, 54, 54);
  width: 7vw;
  height: 8vw;
  margin: -1px;
}
#box3 {
  background-color: rgb(55, 54, 54);
  width: 6vw;
  height: 15vw;
  margin: -1px;
}
#box4 {
  background-color: rgb(55, 54, 54);
  width: 2vw;
  height: 7vw;
  margin: -1px;
}
#box5 {
  background-color: rgb(55, 54, 54);
  width: 10vw;
  height: 12vw;
  margin: -1px;
}
#box6 {
  background-color: rgb(55, 54, 54);
  width: 7vw;
  height: 18vw;
  margin: -1px;
}
#box7 {
  background-color: rgb(55, 54, 54);
  width: 6vw;
  height: 12vw;
  margin: -1px;
}
#box8 {
  background-color: rgb(55, 54, 54);
  width: 6vw;
  height: 14vw;
  margin: -1px;
  
}
#box9 {
  background-color: rgb(55, 54, 54);
  width: 9vw;
  height: 11vw;
  margin: -1px;
}
#box10 {
  background-color: rgb(55, 54, 54);
  width: 15%;
  height: 13vw;
  margin: -1px;;
}
.level {
  margin: 0.5vw 0.3vw;
  height: 1vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;    
}
.window {
  width: 1vw;
  height: 1vw;
  background-color: ivory;
  float: right;
  margin: 0.4vw;
}

#container {
  display: flex;  
  margin: 5vw 1vw 1vw 3vw;
  position: absolute;

}
#avatar-container {
  -webkit-animation: avatar-enters-page 2s ease-in forwards;
    -moz-transition: avatar-enters-page 2s ease-in forwards;
      -o-transition: avatar-enters-page 2s ease-in forwards;
          animation: avatar-enters-page 2s ease-in forwards;
  z-index: 98;
}

#avatar {
  -webkit-animation: move-up-and-down 1s infinite  alternate;
    -moz-transition: move-up-and-down 1s infinite  alternate;
      -o-transition: move-up-and-down 1s infinite  alternate;
          animation: move-up-and-down 1s infinite  alternate;
  border-radius: 100%;
  border: 1.5vw orange solid;
  width: 20vw;
  height: 20vw;
  position: relative;
  margin-top: 10vw;
  z-index: 99;
  box-shadow: 5px 10px 8px #4a4949;
}

#balloon {
  -webkit-animation: baloon-enter-page 2s ease-in forwards;
  animation: baloon-enter-page 2s ease-in forwards;
  height: 20vw;
  width: 60vw;
  margin: 0vw -13vw;
  float: right;
  position: relative;
  z-index: 100;
}

#balloon-text {
  -webkit-animation: baloon-enter-page 2s ease-in forwards;
  animation: baloon-enter-page 2s ease-in forwards;
  width: 46vw;
  height: 30vw;
  margin-left: -39vw;
  margin-top: 3vw;
  font-size: 2.0vw;
  font-family: 'CrimeFighter BB', cursive;
  z-index: 200;
  text-align: center;
  line-height: 1.3;
}

@-webkit-keyframes avatar-enters-page {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes avatar-enters-page {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@-webkit-keyframes baloon-enter-page {
  0% {
    transform: translateX(200%) translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes baloon-enter-page {
  0% {
    transform: translateX(200%) translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}


@-webkit-keyframes move-up-and-down {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}
@keyframes move-up-and-down {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

#bubble-container {
  z-index: 99;
  overflow: hidden;
  height: 30vw;
  width: 30vw;
  position: absolute;
  bottom: 0;
  margin: -0.5vw;
}

.bubble {
  width: 6vw;
  height: 6vw;
  background: #48a8e4;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
}

.bubble1 {
  left: 11.2vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  position: absolute;
}

.bubble2 {
  left: 17vw;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.4;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  position: absolute;
}

.bubble3 {
  left: 10vw;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.7;
  -webkit-animation: moveclouds 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -o-animation: moveclouds 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
  position: absolute;
}

.bubble4 {
  left: 3vw;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.5;
  -webkit-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  position: absolute;
}

.bubble5 {
  left: 5.5vw;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0.8;
  -webkit-animation: moveclouds 8s linear infinite, sideWays 6s ease-in-out infinite alternate;
  -moz-animation: moveclouds 8s linear infinite, sideWays 6s ease-in-out infinite alternate;
  -o-animation: moveclouds 8s linear infinite, sideWays 6s ease-in-out infinite alternate;
  position: absolute;
}

.bubble6 {
  left: 4.7vw;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.7;
  -webkit-animation: moveclouds 6s linear infinite, sideWays 8s ease-in-out infinite alternate;
  -moz-animation: moveclouds 6s linear infinite, sideWays 8s ease-in-out infinite alternate;
  -o-animation: moveclouds 6s linear infinite, sideWays 8s ease-in-out infinite alternate;
  position: absolute;
}

.bubble7 {
  left: 5.7vw;
  -webkit-transform: scale(0.35);
  -moz-transform: scale(0.35);
  transform: scale(0.35);
  opacity: 0.6;
  -webkit-animation: moveclouds 7.5s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7.5s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -o-animation: moveclouds 7.5s linear infinite, sideWays 3s ease-in-out infinite alternate;
  position: absolute;
  z-index: 100;

}

@keyframes moveclouds {
  0% { 
      top: 500px;
  }
  100% { 
      top: -500px;
  }
}

@keyframes sideWays {
  0% {
      margin-left:0px;
  }
  100% {
      margin-left:50px;
  }
}

#flying-saucer-container {
  z-index: 99;
  overflow: hidden;
  height: 30vw;
  width: 60vw;
  position: absolute;
  bottom: 0;
  margin: -0.5vw;
}

#flying-saucer {
  height: 4vw;
  width: 6vw;
  background: url(./flying-saucer2.png);
  background-size: 100% 100%;
  background-position: center; 
  z-index: 200;
  animation: fy 15s ease-in-out infinite;
}

@keyframes fy {
  0% {
    transform: translateX(150%) translateY(150%);
  }
  10% {
    transform: translateX(560%) translateY(250%);
  }
  20% {
    transform: translateX(660%) translateY(550%);
  }
  30% {
    transform: translateX(690%) translateY(450%);
  }
  40% {
    transform: translateX(780%) translateY(550%);
  }
  50% {
    transform: translateX(960%) translateY(540%);
  }
  60% {
    transform: translateX(880%) translateY(410%);
  }
  70% {
    transform: translateX(600%) translateY(510%);
  }
  80% {
    transform: translateX(440%) translateY(470%);
  }
  90% {
    transform: translateX(330%) translateY(380%);
  }
  100% {
    transform: translateX(150%) translateY(150%);
  }
}